<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simpledotcss/2.3.7/simple.min.css" integrity="sha512-taVA0VISClRMNshgWnlrG4lcEYSjwpgpI8vaoT0zGoPf9c74DA95SXMngcgjaWTrEsUbKmfKqmQ7toiXNc2l+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%- include('../partials/nav', { user }) %>

    <h1>Personagens</h1>
    <p>
      Lista dos personagens do usuário autenticado (<code>GET /personagens.json</code>).
    </p>

    <% if (personagens.length === 0) { %>
      <p>Nenhum personagem encontrado.</p>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nível</th>
            <th>Classe</th>
            <th>Raça</th>
            <th>Campanha</th>
            <th>PV</th>
          </tr>
        </thead>
        <tbody>
          <% personagens.forEach(function(personagem) { %>
            <tr>
              <td><a href="/personagens/<%= personagem.id %>"><%= personagem.name %></a></td>
              <td><%= personagem.level %></td>
              <td><%= personagem.character_class?.name ?? "-" %></td>
              <td><%= personagem.character_race?.name ?? "-" %></td>
              <td><%= personagem.campaign?.name ?? "-" %></td>
              <td><%= personagem.max_hp != null ? `${personagem.health_points} / ${personagem.max_hp}` : "-" %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>
